# Python
__pycache__/
*.pyc
.venv/
.env
.cache/
.dist-info/
build/
dist/
.coverage
.pytest_cache/

# Credentials / local
.credentials/
*.sqlite
.secrets/*
!.secrets/salesforce.json.example

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# build/metadata
*.egg-info/
*.dist-info/